* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blue;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #d80808;
    border-bottom: 5px solid white;
}

.title {
    text-align: center;
    padding: 10px;
}

.text {
    padding: 20px 10px;
    margin: 10px auto;
    text-align: center;
}

ul {
    padding: 50px 40px;
}

aside {
    background-color: white;
    display: flex;
    flex-direction: column;
}

img {
    background-color: #FFAD48;
    padding: 30px;
    margin: 20px auto;
    
}

#rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}